.contact-nav {
  @extend %list;
  display: flex;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;

  .item + .item {
    margin-left: 30px;
  }

  .link {
    display: flex;
    align-items: center;
    color: $secondary-text-color;
    background-color: $primary-white-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms $cubic;
  }

  .item:hover a,
  .item:focus a {
    color: $accent-color;
  }

  .item:hover svg,
  .item:focus svg {
    --color5: $accent-color;
  }
}

.contact-icon {
  width: 16px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}
